body {
    font-family:helvetica;
    font-size:0.8em;
    margin: 0;
    padding: 0;
    /*background:none repeat scroll 0 0 #E6EAE9; */
    background:transparent url(images/bg-inner4.jpg) repeat-x fixed;
    background-color:#eee;
    /*color:#4F6B72;*/
}

#page {
    /* nuttin here */
}

p.redtext {
    color:red;
}

.red_text {
    color: #ff6666;
}

.green_text {
    color:green;
}

p.emphasis_text {
    color:red;
    font-style:italic;
}

.redstar {
    color:red;
}

a {
	color:#555;
}

a:hover, a:active {
	/*text-decoration: none;*/
    color:#c75f3e;
}

#login_form {
    width:350px;
    background: #f0f0f0;
    border:1px solid white;
    margin: 150px auto 0;
    padding: 1em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

h1, h2, h3 {
    margin-top:0;
    text-align: center;
}

h4, h5 {
    margin-top:0;
    text-align:left;
}

input[type=text], input[type=password] {
    display: block;
    margin: 0 0 1em 0;
    width: 150px;
    border: 1px solid #ccc;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    padding: 5px;
    color:#333;
}

select {
    display: block;
    margin: 0 0 1em 0;
    width: 290px;
    border: 1px solid #ccc;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    padding: 2px;
    color:#222;
}

select.filter {
    width: 150px;
    margin: 0 0 0 0;
    border: 1px solid #ccc;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    padding: 2px;
}

a.italiclink {
	font-size:1.0em;
    border: none;
    margin-left: 3px;
    padding: 0px;
	font-style: italic;
    text-decoration:underline;
	-moz-border-radius:0;
    -webkit-border-radius:0;
    background:none;
    color:#333;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}

a.italiclink:hover {
    background:none;
    color:blue;
    cursor: pointer;
	font-style: italic;
}

a.button {
    font-size:0.9em;
    border: none;
    margin-right: 0;
    padding: 6px;
    text-decoration:none;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    background:#8CD2F4;
    color:#333;
    box-shadow:0 1px 0 gray;
    -moz-box-shadow:0 1px 0 gray;
    -webkit-box-shadow:0 1px 0 gray;
}

a.button:hover {
    background:#67a0bc;
    color:#333;
    cursor: pointer;
}

a.big_button {
    font-size:1.2em;
    border: none;
    margin-right: 1em;
    padding: 6px;
    text-decoration:none;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    background:#8CD2F4;
    color:#333;
    box-shadow:0 1px 0 white;
    -moz-box-shadow:0 1px 0 white;
    -webkit-box-shadow:0 1px 0 white;
}

a.big_button:hover {
    background:#67a0bc;
    color:#333;
    cursor: pointer;
}

input[type=submit], form a {
    border: none;
    margin-right: 1em;
    padding: 6px;
    text-decoration:none;
    font-size:0.9em;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    background:#8CD2F4;
    color:#333;
    box-shadow:0 1px 0 gray;
    -moz-box-shadow:0 1px 0 gray;
    -webkit-box-shadow:0 1px 0 gray;
}

input[type=submit]:hover, form a:hover {
    background:#67a0bc;
    color:#333;
    cursor: pointer;
}

.error {
    color:#393939;
    font-size: 15px;
}

fieldset {
    width: 300px;
    margin: auto;
    margin-bottom: 2em;
    display: block;
}

h1 {
    text-shadow: 0 1px 0 white;
}

ul {
	/*font-size: 12px;*/
	font-style: normal;
	line-height: 1.5em;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	text-indent: 5px;
	list-style-position: outside;
	list-style-image: url(arrow.gif);
	list-style-type: square;
	padding: 6px;
	margin-left: 12px;
}

#wrapper {
	position:relative;
	width:1000px;
	margin: 0 auto;
	text-align:left;
}

#main {
	position:relative;
	top:170px;
	width:990px;
    margin: 0 auto;
	padding: 10px;
    border: 1px solid #fff;
    background-color: #FCFCFC;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#main_drilldown {
	position:relative;
	top:140px;
	width:800px;
    margin: 0 auto;
	padding: 10px;
    border: 1px solid #fff;
    background-color: #FCFCFC;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#drilldown_content {
    left: 10px;
    margin: 0 auto;
    position: relative;
    top: 0;
    width: 700px;
}

#main_smallform {
	position:relative;
	top:150px;
	width:600px;
    margin: 0 auto;
	padding: 10px;
    border: 1px solid #fff;
    background-color: #FCFCFC;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#main_lostpass {
	position:relative;
	top:150px;
	width:600px;
    margin: 0 auto;
	padding: 10px;
    border: 1px solid #fff;
    background-color: #FCFCFC;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#header {
	position:absolute;
	top:30px;
	left:10px;
	width:1000px;
	height:90px;
	font-size:1.0em;
}

#drilldown_header {
    position:absolute;
	top:30px;
	left:100px;
	width:810px;
	height:90px;
	font-size:1.0em;
}

#lostpass_header {
    position:absolute;
	top:30px;
	left:100px;
	width:810px;
	height:90px;
	font-size:1.0em;
}

#header_image {
    height: 120px;
    left: -15px;
    position: relative;
    top: -120px;
    width: 620px;
}

#header_image_drilldown {
    position:relative;
    top:-40px;
    left:70px;
    height:90px;
    width:920px;
}

#lostpass_image_drilldown {
    position:relative;
    top:-50px;
    left:70px;
    height:90px;
    width:920px;
}


#centered {
	text-align:center;
}

#highlight_box {
    border:1px solid #6fbce0;
    width:500px;
    height:75px;
    background-color:#eee;
    padding:10px;
}

#centred_content {
    text-align:center;
}

#validation_errors_block {
    border: 1px solid #ff3333;
    padding-left:10px;
    padding-bottom:1px;
    padding-top:1px;
    margin-bottom:10px;
    width:588px;
    color:#ff3333;
    text-decoration:none;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    background-color: white;
    box-shadow:0 1px 0 white;
    -moz-box-shadow:0 1px 0 white;
    -webkit-box-shadow:0 1px 0 white;
}

#filter_block {
    border: none;
    padding:2px;
    width:980px;
    text-decoration:none;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    background-color: #cccccc;
    box-shadow:0 1px 0 white;
    -moz-box-shadow:0 1px 0 white;
    -webkit-box-shadow:0 1px 0 white;
}

form fieldset {	border: 0; }

form fieldset p br { clear: left; }

label {
	margin-top: 0;
    width: 250px;
    display: block;
    padding: 0;
    float: left;
}

label.small {
	margin-top: 0;
    width: 100px;
    display: block;
    padding: 0;
    float: left;
}

label.xlarge {
    margin-top: 0;
    width: 500px;
    display: block;
    padding: 0;
    float: left;
}

/************************ table ****************************/

#table_container {
    position:relative;
    top:-40px;
}

#mytable {
	width: 900px;
	padding: 0;
	margin: 0;
	table-layout:fixed;
}

caption {
	padding: 0 0 5px 0;
	width: 700px;
	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
}

th {
	font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color:#555;
    /*color: #4f6b72;*/
	/*border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;*/
    border:1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(images/bg_header.jpg) no-repeat;
}

th.nobg {
	border: 0;
	background: none;
}

td.nobg {
	border: 0;
	background: none;
}


td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	/*background: #fff;*/
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
	font-size:1.2em\9;
}

td.firsttopcell {
    border-top: 1px solid #C1DAD7;
}

td.firstleftcell {
    border-left: 1px solid #C1DAD7;
}

td.noborder {
    border:0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
     /* put webkit CSS here*/
     th { font-size:1.0em; }
     td { font-size:1.0em; }
}

td.alt {
	background: #F5FAFA;
	color: #797268;
}

th.spec {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff url(images/bullet1.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

th.specalt {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #f5fafa url(images/bullet2.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #797268;
}

/******************* filters ********************************/

#filter_block {
    position:relative;
    top:-30px;
}

#filter_block ul, li {
    display:inline;
}

#filter_block td {
    background:none;
    border:none;
	padding: 1px;
    width:150px;
    vertical-align:text-top;
}

/******************** search ********************************/

#search_block {
    height:30px;
    left:625px;
    position:relative;
    top:-37px;
    width:390px;
}

.submit {
    margin-left:300px;
    position:relative;
    top:-42px;
}

/******************* pagination *****************************/

#pagination_container {
    position: relative;
    top:-30px;
}

ul{border:0; margin:0; padding:0;}

#pagination-digg li{
	border:0; margin:0; padding:0;
	font-size:11px;
	list-style:none;
	margin-right:2px;
}
#pagination-digg a{
	border:solid 1px #c6baa4;
	margin-right:2px;
}
#pagination-digg .previous-off, #pagination-digg .next-off {
	border:solid 1px #c6baa4;
	color:#222222;
	display:block;
	float:left;
	font-weight:bold;
	margin-right:2px;
	padding:3px 4px;
}
#pagination-digg .next a, #pagination-digg .previous a {
	font-weight:bold;
}
#pagination-digg .active{
	background:#c6baa4;
	color:#FFFFFF;
	font-weight:bold;
	display:block;
	float:left;
	padding:4px 6px;
}
#pagination-digg a:link, #pagination-digg a:visited {
	color:#222222;
	display:block;
	float:left;
	padding:3px 6px;
	text-decoration:none;
}
#pagination-digg a:hover{
	border:solid 1px #222222
}



/******************* buttons ********************************/

#move_right {
	position:relative;
	right:450px;
}

#move_left {
    float:left;
}


.button_right a, .button_right button {
    display:block;
    margin:2px 2px 2px 2px;
    background-color:#ccc;
    border:1px solid #aaa;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    position:relative;
    float:right;
    right:450px;
    text-align:center;
    font-size:100%;
    line-height:90%;
    letter-spacing: 1px;
    text-decoration:none;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px;
}

.buttons a, .buttons button{
    display:block;
    margin:2px 2px 2px 2px;
    background-color:#ccc;
    border:1px solid #aaa;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    position:relative;
    float:right;
    text-align:center;
    font-size:100%;
    line-height:90%;
    letter-spacing: 1px;
    text-decoration:none;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}

.buttons.noleft {
    margin:7px 7px 7px 7px;
    background-color:#ccc;
    border:1px solid #aaa;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    line-height:130%;
    letter-spacing: 1px;
    text-decoration:none;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}

.buttons button{
    width:auto;
    overflow:visible;
    padding:2px 4px 2px 4px; /* IE6 */
}
.buttons button[type]{
    padding:2px 4px 2px 4px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:2px 4px 2px 4px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}



/* STANDARD */

button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive{
    color:#000;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#8bd3f5;
    border:1px solid #1e7fad;
    color:#11638a;
}
.buttons a.positive:active{
    background-color:#8bd3f5;
    border:1px solid #1e7fad;
    color:#11638a;
}

/* NEGATIVE */

.buttons a.negative, button.negative{
    color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

/****************** tab menu *******************************/



#tabmenu{
    position:absolute;
    top:70px;
    left:-20px;
    padding: 0;
    width: 100%;
    background: transparent;
    voice-family: "\"}\"";
    voice-family: inherit;
}

#tabmenu ul{
    font: bold 10px Arial;
    margin:0;
    margin-left: 40px; /*margin between first menu item and left browser edge*/
    padding: 0;
    list-style: none;
}

#tabmenu li{
    display: inline;
    margin: 0 2px 0 0;
    padding: 0;
    text-transform:uppercase;
}

#tabmenu a{
    float: left;
    display: block;
    color: #444;
    margin: 0 1px 0 0; /*Margin between each menu item*/
    padding: 10px 15px;
    text-decoration: none;
    letter-spacing: 1px;
    background-color: #ccc; /*Default menu color*/
    border-bottom: 1px solid white;
     -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#tabmenu a:hover{
    background-color: gray; /*Menu hover bgcolor*/
    color:#000;
}

#tabmenu #current a{ /*currently selected tab*/
    background-color:#0099ff;
    color:#fff;
    border-top:1px solid #CCC;
}

body#tab1 li.tab1 a, body#tab2 li.tab2 a, body#tab3 li.tab3 a, body#tab4 li.tab4 a, body#tab5 li.tab5 a, body#tab6 li.tab6 a{ /*currently selected tab*/
    /*background-color:#8bd3f5;*/
    background-color:#ffffff;
    color:#444;
    border-top:1px solid #CCC;
}

#tabmenuline{
    clear: both;
    padding: 0;
    width: 100%;
    height: 5px;
    line-height: 5px;
    background: #D25A0B; /*Brown color theme*/
}


/****************** clear and footer *********************/

.clearing {
	height:0;
	clear:both;
}

#footer {
}







